@import "./variable.scss";

.sideBarOuter{
	display:block;
	width:200px;
	height:300px;
	padding:20px;
	background-color:$themeColor;

	>div{
		@extend %widthHeightHundred;
		display:flex;
	}

	button{
		margin-top:10px;
		margin-right:10px;
	}

	.sideBarTitle{
		font-size:20px;
		font-weight:bold;
	}
}